.Services{
  background-color: rgb(249, 249, 249);
}
.Title {
  font-size: 20px !important;
  line-height: 28px !important;
  font-weight: 700 !important;
  margin-top: 32px !important;
  margin-bottom: 32px !important;
  -webkit-box-flex: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

.Items {
  justify-content: center !important;
}

@media (min-width: 769px) {
  .Items {
    justify-content: left !important;
  }
}