.BookingForm {
  margin-bottom: 20px;
  margin-top: 20px;
}

.Paper {
  padding: 22px;
  margin-top: 20px;
  text-align: center;
}

.Item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.Select {
  min-width: 200px !important;
}
