.Card {
  max-width: 100%;
  border-radius: 5px !important;
}

.CardDate {
  padding: 5px 5px;
  background-color: #0069a7;
  border-radius: 3px;
}

.CardDateTypo {
  color: white !important;
}

.CardSubTitle{
  margin-top: 5px !important;
  margin-bottom: 20px !important;
}

.CardContent{
  padding: 0 20px !important;
}

.CardBorder {
  border-radius: 5px !important;
  box-shadow: none !important;
  border: 1px solid #e9eced;
}

.Service {
  font-size: 1.3rem !important;
  font-weight: 900 !important;
}

.list{
  font-size: 12px;
  padding: 0px 15px;
  letter-spacing: 0.25px;
  color: #676d73!important;
  fill: #676d73!important;
}

.IconUbicacion{
  margin-top: 10px;
}

.TotalContainer {
  border-top: 1px solid #e9eced !important;
}

.TotalMargin{
  margin: 30% 0 !important;
}

.Total {
  font-size: 2rem !important;
  text-align: center !important;
  font-weight: 900 !important;
}

.ViewDetails {
  text-align: center !important;
}

.Title {
  font-size: 20px !important;
  font-weight: 700 !important;
  letter-spacing: 0.25px !important;
}

.Date {
  color: #676d73!important;
  font-size: 12px !important;
  font-weight: 500 !important;
}

.Button {
  border: 2px solid #eee !important;
  border-radius: 5px !important;
  color: rgb(84, 90, 96) !important;
  font-weight: bold !important;
  font-size: 12px !important;
  letter-spacing: 0.25px !important;
}

.Button:hover {
  border: 2px solid #eee !important;
  border-radius: 5px !important;
  font-weight: bold !important;
  letter-spacing: 0.25px !important;
  color: rgb(84, 90, 96) !important;
}

@media (min-width: 600px) {
  .TotalContainer {
    border-left: 1px solid #e9eced !important;
    border-top: none !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
}