.Card {
  padding: 10px !important;
  max-width: 100%;
  border-radius: 5px !important;
}

.CardMarginTop {
  padding-top: 30px !important; 
}

.CardDate {
  padding: 5px 5px;
  background-color: #0069a7;
  border-radius: 3px;
}

.CardDateTypo {
  color: white !important;
}

.CardSubTitle {
  padding: 5px 5px;
}

.Service {
  font-size: 1.3rem !important;
  font-weight: 900 !important;
}

.TotalContainer {
  border-top: 1px solid #e9eced !important;
}

.Total {
  font-size: 2rem !important;
  text-align: center !important;
  font-weight: 900 !important;
}

.ViewDetails {
  text-align: center !important;
}

.Title {
  font-size: 1.3rem !important;
  font-weight: 700 !important;
}

.Date {
  color: #0069a7 !important;
  font-weight: 500 !important;
}

.Button {
  border: 2px solid #eee !important;
  padding: 12px 26px !important;
  border-radius: 5px !important;
  font-weight: bold !important;
  letter-spacing: 0.25px !important;
  color: rgb(84, 90, 96) !important;
}

.Button:hover {
  border: 2px solid #eee !important;
  padding: 12px 26px !important;
  border-radius: 5px !important;
  font-weight: bold !important;
  letter-spacing: 0.25px !important;
  color: rgb(84, 90, 96) !important;
}

.CardBorder {
  border-radius: 5px !important;
  box-shadow: none !important;
  border: 1px solid #e9eced;
}

.TotalMargin {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 600px) {
  .TotalContainer {
    border-left: 1px solid #e9eced !important;
    border-top: none !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  .TotalMargin {
    margin-top: 10%;
    margin-bottom: 0px;
  }
}