.Dashboard{
  flex-grow: 1;
  background-color: rgb(red, green, blue) !important;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.LoaderContainer {
  margin-top: 15%;
  height: 2000px;
}