.MainDashboardAgent{
  margin-top: 5vh;
}
.Typogra{
  font-size: 2em !important;
}
.PaginationTop{
  margin: 1.5vh 0 !important;
}

.CardJob {
  padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .Typogra{
    font-size: 1.2em !important;
    margin: 0 24px !important;
  }
}