.Form{
  background-color: #E8EBEF;
  padding: 40px;
  border-radius: 5px;
}
.containerForm{
  font-family: Arial !important;
}
.pageButton {
  background-color: #0069a7 !important;
  border-radius: 4px !important;
  border-color: #286090;
  border: 1px solid #fff !important;
  color: #eee !important;
  cursor: pointer !important;
  display: inline-block !important;
  font-family: Arial !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  margin: 2px 0 !important;
  margin-top: 20px !important;
  height: 52px !important;
  line-height: 48px !important;
  position: relative !important;
  padding: 0px 32px !important;
  vertical-align: baseline !important;
  width: 95% !important;
}
.ButtonLogin{
  color: #0069a7 !important;
  font-family: Arial !important;
}
.small{
  color: #0069a7;
}

@media only screen and (max-width: 600px) {
  .Form{
    padding: 10px !important;
  }
  .None{
    display: none !important;
  }
}

@media only screen and (max-width: 960px) {
  .Form{
    padding: 10px !important;
  }
  .None{
    display: none !important;
  }
}