.Form{
  background-color: #E8EBEF;
  padding: 20px;
  border-radius: 5px;
  text-align: center !important;
  height: 500px !important;
}

.paperInput{
  display: inline-block;
  width: 50% !important;
}

.LoadingContainer {
  margin-top: 50%;
}

.pageButton {
  background-color: #0069a7 !important;
  border-radius: 4px !important;
  border-color: #286090;
  border: 1px solid #fff !important;
  color: #eee !important;
  cursor: pointer !important;
  display: inline-block !important;
  font-family: Arial !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  margin: 2px 0 !important;
  margin-top: 20px !important;
  height: 52px !important;
  line-height: 48px !important;
  position: relative !important;
  padding: 0px 32px !important;
  vertical-align: baseline !important;
  width: 95% !important;
}

.pageButtonInvalid {
  background-color: #0072b5b8 !important;
  border-radius: 4px !important;
  border-color: #0072b5b8;
  border: 1px solid #fff !important;
  color: #eee !important;
  cursor: not-allowed !important;
  display: inline-block !important;
  font-family: Arial !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  margin: 2px 0 !important;
  margin-top: 20px !important;
  height: 52px !important;
  line-height: 48px !important;
  position: relative !important;
  padding: 0px 32px !important;
  vertical-align: baseline !important;
  width: 95% !important;
}
.ErrorText {
  color: #b80808;
  font-size: 0.9em;
}

.ButtonLogin{
  color: #0069a7 !important;
  font-family: Arial !important;
}

.small{
  color: #0069a7;
}

.None {
  color: #0069a7 !important;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
}

.Link {
  text-decoration: none;
  cursor: pointer;
  color: #0069a7;
}

.Link:hover {
  text-decoration: underline;
}

.InputPassword {
  margin: 8px auto;
  margin-left: 0px !important;
}

.Modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px 5px 5px 5px !important;
}

@media only screen and (max-width: 600px) {
  .Form{
    padding: 10px !important;
    margin: 0 !important;
    height: 470px !important;
  }
}

@media only screen and (max-width: 1600px) {
  .Form{
    margin:  90px -40px;
    height: 620px;
  }
}