.root {
  display: flex !important;
  flex-wrap: wrap !important;
  margin-top: 150px !important;
  align-items: center !important;
  flex-grow: 1px !important;
}
.Typogra{
  background-color: #f9f9f9 !important;
  font-size: 1.8em !important;
  text-transform: uppercase;
  margin-bottom: 0 !important;
}
@media only screen and (max-width: 600px){
  .root {
    margin-top: 150px !important;
  }
}