.Contact {
  background-color: #0069A7 !important;
  color: #fff !important;
  padding: 5vh !important;
  flex-grow: 1 !important;
}

.textField > label {
  color: #ffffff !important;
}

.textField > div:before {
  background-color: #ffffff !important;
}

.textField > div:after {
  background-color: #ffffff !important;
}

.textField > div > input {
  color: #ffffff !important;
}

.textField > div > textarea {
  color: #ffffff !important;
}

.MuiInput-underline-236:after {
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  pointer-events: none;
  background-color: #fff;
}

.Button {
  background-color: #eee !important;
  color: #0069a7 !important;
  font-family: Arial !important;
}

.style2 {
  padding-top: 40px !important;
}

.Paper {
  background-color: transparent !important;
  color: #fff !important;
}

.PaperSocial {
  background-color: transparent !important;
  color: #fff !important;
  display: inline-block;
  padding: 0 36px !important;
}

.Styleicon {
  height: 2em !important;
}

.iconSocial{
  height: 2.25em;
}

.LogoNocNoc{
  margin: 40px !important;
}

.Border{
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  height: 90%;
}

.SubTitle{
  font-size: 1em !important;
  font-family: Arial !important;
  font-weight: 700 !important;
}

.UlContact{
  text-align: left;
  padding: 0 20px;
}

.ListContact{
  padding: 5px 0;
}

.Link {
  color: #fff !important;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

.ButtonContratar{
  border: 1px solid white !important;
  border-radius: 3px 3px 3px 3px !important;
  color: white !important;
  padding: 0 72px !important;
  text-transform: capitalize !important;
  min-height: 34px !important;
}

.pageButtonInvalid {
  border: 1px solid white !important;
  border-radius: 3px 3px 3px 3px !important;
  color: white !important;
  padding: 0 72px !important;
  text-transform: capitalize !important;
  min-height: 34px !important;
  cursor: not-allowed !important;
}

.ErrorText {
  color: #b80808;
  font-size: 0.9em;
  margin-bottom: 0 !important;
}

@media only screen and (max-width: 600px) {
  .Contact {
    padding: 2rem !important;
    padding-top: 2rem !important;
    flex-grow: 1 !important;
  }
  .LogoNocNoc{
    display: none !important;
  }
  .textField{
    font-size: 0.5rem !important;
  }
  .Paper{
    font-size: 0.6rem !important;
    padding-top: 0.5rem;
  }
  .PaperSocial {
    padding: 0 11px !important;
  }
  .SubTitle{
    font-size: 1.4rem !important;
    font-weight: 700 !important;
  }
  .SubSubTitle{
    font-size: 1.7em !important;
  }
  .iconSocial{
    height: 3.25em;
  }
  .Styleicon {
    height: 3em !important;
  }
  .UlContact{
    text-align: center;
  }
  .Link {
    font-size: 1.7em !important;
  }
  .Border{
    border: none
  }
}

@media only screen and (max-width: 960px) {
  .LogoNocNoc{
    display: block;
  }
  .Paper{
    padding: 0.5rem 0;
  }
  .Border{
    border: none
  }
  .UlContact{
    text-align: center;
  }
  .ContentSocial{
    justify-content: space-around !important;
  }
}

@media only screen and (min-width: 1280px) {
  .Paper{
    padding: 0.5rem 0 !important;
  }
}