.Card {
  max-width: 100%;
  border-radius: 5px !important;
  box-shadow: none !important;
  border: 1px solid #e9eced;
}

.Media {
  height: 0;
  padding-top: 56.25%;
}

.Service {
  margin-bottom: 20px !important;
}

.CardContent {
  min-height: 30px;
  padding: 0 !important;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
}

.Typo {
  color: #0069a7 !important;
  font-size: 1rem !important;
  font-weight: 700 !important;
}