.MuiInput-underline-238:hover:not(.MuiInput-disabled-237):before{
  background-color: #fff !important;
}
.MuiInput-underline-238:before{
  background-color: #fff !important;
}
#email, #name {
  color: #fff !important;
}

.MuiFormLabel-root-229, .MuiInput-root-234 {
  color: #fff !important;
}

.stylesContact {
  background-color: '#0069a7';
  color: #fff;
  padding: 90;
  flex-grow: 1;
}

.textField {
   color: "#ffffff";
}

.styleButton {
  background-color: #eee;
  color: #0069a7;
  font-family: Arial;
}

.style2 {
  padding-top: 40;
}

.stylePaper {
  backgroundColor: transparent;
  textAlign: left;
  color: #fff;
}

.Styleicon {
  height: 3rem;
}