.MuiInput-underline-238:hover:not(.MuiInput-disabled-237):before{
  background-color: #fff !important;
}
.MuiInput-underline-238:before{
  background-color: #fff !important;
}
#email, #name {
  color: #fff !important;
}

.MuiFormLabel-root-229, .MuiInput-root-234 {
  color: #fff !important;
}