.Download{
  background-size: 100rem;
  background-color: #0069a7;
  background-image: url('../Img/BackgrounDownload.jpg');
  background-repeat: no-repeat;
  height: 60vh;
  background-attachment: fixed;
}