.stylesFuntion {
  padding-top: 60px;
  padding-bottom: 30px;
}

.Typogra {
  text-align: center;
  font-size: 2rem;
  color: #0069a7 !important;
}

.Styleicon {
  height: 6rem;
  padding-top: 3rem;
}

.SubSubTypogra{
  font-family: Arial !important;
}

@media only screen and (max-width: 600px) {
  .stylesFuntion {
    padding: 2rem;
    padding-top: 5rem;
  }
  .Typogra {
    font-size: 1.4rem !important;
    font-weight: bold !important;
  }
  .Styleicon {
    display: none;
  }
  .SubTypogra {
    font-size: 1rem !important;
    font-weight: bold !important;
  }
  .imgicon{
    width: 1.5rem;
  }
  .SubSubTypogra{
    text-align: justify;
    font-family: Arial !important;
  }
  .congratulation{
    font-size: 1rem !important;
    text-align: center;
    font-weight: bold !important;
    color: #0069a7 !important;
  }
}

@media only screen and (max-width: 960px) {
  .stylesFuntion {
    padding-top: 5rem;
  }
  .Styleicon {
    width: 4.5rem;
  }
  .imgicon{
    width: 1.5rem;
  }
  .Typogra {
    font-size: 1.4rem !important;
    font-weight: bold !important;
  }
}

@media only screen and (max-width: 1280px) {
  .Styleicon {
    width: 5rem;
  }
  .imgicon{
    width: 2rem;
  }
}