.Registro{
  background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)),url(../../../assets/BackgrounAgent.png);
  background: -o-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)),url(../../../assets/BackgrounAgent.png);
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)),url(../../../assets/BackgrounAgent.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  flex-grow: 1;
  font-family: Arial !important;
}

.Typogra{
  color: #fff !important;
  font-size: 3rem !important;
  margin-top: 30% !important;
  text-align: center !important;
  font-family: Arial !important;
  font-weight: 500 !important;
}

.logo {
  height: 5rem;
  margin: 0.5rem;
}

.PaperStile {
  background-color: transparent !important;
}

.Form{
  margin-top: 28px;
}

@media only screen and (max-width: 600px) {
  .Form{
    margin-top: 8px;
  }
  .Registro{
    height: 130vh !important;
  }
  .Typogra{
    margin-top: 0vh !important;
    font-size: 1rem !important;
    text-align: center !important;
  }
  .logo {
    height: 2.5rem !important;
    margin: 0rem !important;
  }
  .None{
    display: none !important;
  }
}

@media only screen and (max-width: 960px) {
  .Registro{
    height: 110vh !important;
  }
  .Typogra{
    font-size: 1.75rem !important;
  }
}

@media only screen and (max-width: 1280px) {
  .Registro{
    height: 150vh;
  }
}
@media only screen and (min-width: 1280px) {
  .Registro{
    height: 100vh !important;
  }
}
