.Agent{
  background-attachment: fixed;
  background-color: #fff;
  background-image: url('../../../assets/BackgrounAgent.png');
  background-repeat: no-repeat;
  background-size: 98rem;
  height: 100vh;
}

.Typogra{
  color: #0069a7 !important;
  font-family: Fabada !important;
  font-size: 2rem !important;
}

.logo {
  height: 3.5rem;
  margin: 0.5rem;
}

.MuiFormControl-marginNormal-144{
  margin-top: 10px !important;
}