.Main{
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)),url('../../../assets/BackgrounMain.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.Modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vh;
}

.style {
  color: #c6c5c5;
  font-size: 1.5rem;
}

.LandingButton{
  margin-top: 50px;
  width: 100% !important;
  text-align: center !important;
}

.pageButton {
  background-color: #eee !important;
  color: #0069a7 !important;
  font-family: Arial !important;
  margin: 4px 15px !important;
  font-size: 1rem !important;
  border-radius: 5px !important;
  border: 1px solid #fff !important;
  width: 200px !important;
}

.Typogra {
  color: #0069a7 !important;
  text-align: center;
  font-size: 2rem !important;
}

.SubTypogra {
  color: #fff !important;
  text-align: center;
  font-size: 1.5rem !important;
  font-family: Arial !important;
}

@media only screen and (max-width: 600px) {
  .Main {
    background-attachment: fixed;
    background-size: auto;
    height: 100vh;
  }
  .style {
    padding: 30px;
    padding-top: 20vh !important;
    font-size: 0.5rem !important;
  }
  .Typogra {
    font-size: 1.4rem !important;
    text-align: justify;
  }
  .SubTypogra {
    font-size: 1rem !important;
    text-align: justify;
    padding-top: 1rem;
    color: #fff;
  }
  .MuiGrid-item-3 .MuiGrid-grid-xs-12-39 .MuiGrid-grid-sm-4-44 {
    text-align: center;
  }
  .LandingButton{
    margin-top: 30px;
  }
}

@media only screen and (min-width: 600px) {
  .style{
    padding-top: 35vh !important;
  }
}