.Main{
  background-attachment: fixed;
  background: -webkit-linear-gradient(rgba(255,255,255,0.8), rgba(0,0,0,0.4)),url('../../../assets/BackgrounMain.jpg');
  background: -o-linear-gradient(rgba(255,255,255,0.8), rgba(0,0,0,0.4)),url('../../../assets/BackgrounMain.jpg');
  background: url('../../../assets/BackgrounMain.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px !important;
}

.Modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px 5px 5px 5px !important;
}

.style {
  color: #c6c5c5;
  font-size: 1.5rem;
}

.LandingButton{
  margin: 50px 0px;
  width: 100% !important;
}

.pageButtonActive {
  background-color: #0069a7 !important;
  border-radius: 5px !important;
  color: #fff !important;
  font-size: .825em !important;
  border: 1px solid #0069a7 !important;
  text-decoration: none !important;
  text-transform: none !important;
  padding: .75em 0 !important;
  width: 32% !important;
  /*margin-bottom: .875em !important;*/
  margin: 4px 20px !important;
  font-family: Arial !important;
}

.pageButtonActive:hover {
  background-color: #0089d7 !important;
}

.pageButton {
  background-color: #eee !important;
  border-radius: 5px !important;
  color: #0069a7 !important;
  font-size: .825em !important;
  border: 1px solid #0069a7 !important;
  text-decoration: none !important;
  text-transform: none !important;
  padding: .75em 0 !important;
  width: 32% !important;
  /*margin-bottom: .875em !important;*/
  margin: 4px 20px !important;
  font-family: Arial !important;
}

.pageButton:hover {
  background-color: #F7FEFF !important;
}

.Typogra {
  color: #0069a7 !important;
  font-size: 1.425em !important;
  line-height: 1.5em;
  max-width: 18.125em;
  text-align: center;
  font-family: Arial !important;
  font-weight: 700 !important;
}

.SubTypogra {
  color: #434343 !important;
  text-align: center;
  font-size: 0.8em !important;
  font-family: Arial !important;
  max-width: 50.125em;
}

@media only screen and (max-width: 600px) {
  .Main {
    background-attachment: fixed;
    background-size: auto;
  }
  .style {
    padding: 30px;
    padding-top: 150px !important;
    font-size: 0.5rem !important;
  }
  .Typogra {
    font-size: 1.4rem !important;
  }
  .SubTypogra {
    font-size: 1rem !important;
    padding-top: 1rem;
    color: #fff;
  }
  .MuiGrid-item-3 .MuiGrid-grid-xs-12-39 .MuiGrid-grid-sm-4-44 {
    text-align: center;
  }
  .LandingButton{
    margin-top: 2vh;
  }
  .pageButtonActive {
    font-size: 2.125em !important;
    padding: .75em 0 !important;
    width: 100% !important;
    /*margin-bottom: .875em !important;*/
    margin: 4px 0px !important;
  }
  .pageButton {
    font-size: 2.125em !important;
    padding: .75em 0 !important;
    width: 100% !important;
    margin: 4px 0px !important;
  }
}

@media only screen and (min-width: 600px) {
  .style{
    padding-top: 170px !important;
  }
}