.stylesFuntion {
  background-image: url(https://cache.hbfiles.com/assets/home/bee_line-5390828ee24500c636ca98f9682b99ac.svg);
  background-position: 40% 55%;
  background-repeat: no-repeat;
  padding-top: 15px;
  padding-bottom: 30px;
}

.Typogra {
  text-align: center;
  font-size: 2.25em !important;
  color: #0069a7 !important;
  font-family: Arial !important;
}

.Styleicon {
  height: 4rem;
}

.IconDownload{
  height: 2em;
}

.SubTypogra{
  font-size: 1em !important;
  font-family: Arial !important;
  font-weight: 700 !important;
  color: #0069a7 !important;
}

.SubSubTypogra{
  background-color: white !important;
  color: #676d73 !important;
  font-family: Arial !important;
  /* font-size: 0.8em !important; */
  font-size: 14px !important;
  padding: 10px !important;
}

.congratulation{
  color: #0069a7 !important;
  font-weight: 700 !important;
  margin-top: 20px !important;
}

@media only screen and (max-width: 600px) {
  .stylesFuntion {
    background-image: none;
  }
  .Typogra {
    font-size: 1.4rem !important;
    font-weight: bold !important;
  }
  .iconStyleFuntion{
    margin: .875em 0 !important;
  }
  .SubTypogra {
    font-size: 1rem !important;
    font-weight: bold !important;
    margin: .875em 0 !important;
  }
  .imgicon{
    width: 1.5rem;
  }
  .SubSubTypogra{
    text-align: center;
    font-family: Arial !important;
  }
  .congratulation{
    font-size: 1rem !important;
    text-align: center;
    color: #0069a7 !important;
  }
  .IconDownload{
    height: 2em;
    margin: 0 5px;
  }
  .Separator {
    padding: 10px 0 !important;
  }
}

@media only screen and (max-width: 960px) {
  .stylesFuntion {
    background-image: none !important;
    padding-top: 5rem;
  }
  .Styleicon {
    width: 4.5rem;
  }
  .imgicon{
    width: 1.5rem;
  }
  .Typogra {
    font-size: 1.4rem !important;
    font-weight: bold !important;
  }
}

@media only screen and (max-width: 1280px) {
  .Styleicon {
    width: 5rem;
  }
  .imgicon{
    width: 2rem;
  }
}