.Applogo {
  height: 70px;
  margin: 0.5rem;
}

.Display{
  display: none !important;
}

.App-name{
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  float: right;
}

.styleAnchor {
  color: #676d73 !important;
  text-decoration: none;
  text-transform: capitalize !important;
  font-family: Arial !important;
  font-size: 20px !important;
}

.styleAnchor:hover{
  background-color: transparent !important;
  color: #0069A7 !important;
}

.stykeItem:hover{
  background-color: transparent !important;
}

.MenuItem{
  color: #676d73 !important;
}

.MenuItem:hover{
  background-color: transparent !important;
  color: #0069A7 !important;
}

.SubMenu{
  top: 90px !important;
  left: 40px !important;
}

.SubMenuItem{
  font-size: 14px !important;
  padding: 10px !important;
  width: 200px !important;
  align-items: center;
  color: #676d73 !important;
}

.SubMenuItem:hover{
  background-color: transparent !important;
  color: #0069A7 !important;
}

.IconAvatarMenu{
  color: #676d73 !important;
}

.IconAvatarMenu:hover{
  color: #0069A7 !important;
}

.Avatar{
  margin: 0 20px !important;
}

.Avatar:hover{
  background-color: transparent !important;
}

.AppBar {
  background-color: transparent;
}

.Toolbar {
  background-color: #fff;
  width: 98% !important;
}

.flex {
  flex: 1;
}

.root {
  flex-grow: 1;
}

.Modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .Avatar{
    margin: 0 34px !important;
  }
  .Display{
    display: inline-block !important;
  }
  .DisplayMenuItem{
    display: none !important;
  }
  .SubMenuItem{
    padding: 0px 15px !important;
  }
}

@media (min-width: 1024px) {
  .Applogo {
    height: 100px;
    margin: 0.5rem;
  }
}