.CardProfile {
  background-color: white;
  border: 1px solid #DCE0E6;
  border-radius: 4px;
}

.ButtonEdit {
  float: right;
  font-weight: normal;
  vertical-align: middle;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  font-size: 1rem;
  color: #0069A7;
  border: 1px solid #0069A7;
  background-color: white;
  -webkit-appearance: none;
  text-align: center;
  padding: 0.5em 1.38em 0.5em;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  -webkit-transition-property: background, color, border-color, box-shadow;
  transition-property: background, color, border-color, box-shadow;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.16s;
  transition-duration: 0.16s;
  line-height: 1.4;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ButtonEdit:hover {
  color: white;
  border: 1px solid #0069A7;
  background-color: #0069A7;
}

div, h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

.SideNav .SideItem {
  position: relative;
  border-left: 3px solid transparent;
}

.SideItem:hover {
  border-left: 3px solid #DCE0E6;
}

.SideNav .IsSelected {
  background: #F9FAFB;
  border-left: 3px solid #0069A7;
}

.SideNav .SideItem.IsSelected a {
  color: #0069A7;
}

.CardContainer {
  height: 100%;
}

.SideNav .SideItem a {
  margin: 0 1em;
  line-height: 2.5em;
  color: #545E69;
  display: block;
}

.CardPrincipal {
  border-left: 1px solid #DCE0E6;
  padding: 1em;
  width: 100%;
}

.ColPrincipal {
  margin-bottom: 0;
}

.CardTitle > span {
  line-height: 1.75em;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.428571429;
  border-bottom: 1px solid #DCE0E6;
  margin-bottom: 1em;
  font-weight: 600;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

.CardPrincipalAccount {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.Avatar {
  z-index: 10;
  overflow: hidden !important;
  width: 144px !important;
  height: 144px !important;
  border: 1px solid #DCE0E6 !important;
  background-color: white;
  text-align: left;
  position: relative !important;
}

.Container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
}

.AccountList > li {
  margin-left: 0.25em;
  margin-bottom: 0.5em;
  font-size: 1.25em;
}

.AccountList > li > span {
  margin-left: 0.25em;
}

.ButtonLogout {
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  padding: 0.5em 1.38em 0.5em;
  border-radius: 4px;
  font-weight: normal;
  color: #545E69;
  border: 1px solid #B1B9C3;
  background-color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition-property: background, color, border-color, box-shadow;
  transition-property: background, color, border-color, box-shadow;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.16s;
  transition-duration: 0.16s;
  line-height: 1.4;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ButtonLogout:hover {
  color: #242A30;
  border: 1px solid #B1B9C3;
  background-color: #E8EBEF;
}