.Guarante{
  background-color: #fafafa !important;
}

.TopSeccion{
  padding: 35px 0 !important;
}
.Typogra{
  color: #0069a7 !important;
  font-size: 2rem !important;
  text-align: center;
  font-family: Arial !important;
}
.SubTytle{
  color: #0069a7 !important;
  font-family: Arial !important;
  font-size: 1.125em !important;
  font-weight: bold !important;
  line-height: 1.375em !important;
  margin: .875em 0 !important;
}
.Text{
  max-width: 15em;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  line-height: 1.5em;
}
.icon{
  width: 20%;
}
.small{
  font-size: 1em;
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  .Guarante {
    padding: 0 2rem;
  }
  .TopSeccion{
    margin-top: 5vh !important;
  }
  .Typogra {
    font-size: 1.75rem !important;
  }
  .SubTypogra {
    font-size: 1rem !important;
  }
  .SubTytle{
    font-size: 1rem !important;
  }
}