.NextJobs{
  background-color: rgb(249, 249, 249) !important;
  padding-bottom: 50px;
}
.Title {
  font-weight: 700 !important;
  font-size: 1.4rem !important;
  padding: 20px 0 !important;
  padding-top: 40px !important;
}