.CardInfo{
    margin: 25px 0 !important;
}
.Avatar{
    width: 120px !important;
    height: 120px !important;
}

.CantReviews{
    font-style: italic;
    font-size: 0.8em;
}

.ButtonContratar{
    border: 1px solid #0069a7 !important;
    border-radius: 5px 5px 5px 5px !important;
    color: #0069a7 !important;
    font-weight: bold !important;
}