@font-face {
  font-family: Fabada, Arial;
  src: url('./containers/Fonts/Fabada-regular.ttf', './containers/Fonts/arial.ttf');
}

.App-background-Download{
  background-image: url("./containers/Img/BackgrounDownload.png");
}