@font-face {
  font-family: Fabada, Arial;
  src: url('./containers/Fonts/Fabada-regular.ttf', './containers/Fonts/arial.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fabada', sans-serif;
}
