.root{
  flex-grow: 1px;
}
.CardJob {
  border: 2px solid #e3e3e3;
  border-radius: 5px;
  color: black !important;
}
.TitleCard{
  font-size: 1.5em !important;
}
.SubTitleCard{
  font-size: 1em !important;
}
.Title{
  font-size: 1.2em !important;
}
.StatuCard{
  color: #0069a7 !important;
}
.subServicios{
  color: #0069a7 !important;
  font-style: italic;
}
.ContainerAvatar{
  display: flex;
}
.imgAvatar{
  flex: 0 0 auto !important;
  margin-right: 16px;
}
.NameAvatar{
  flex: 1 1 auto;
  margin: 8px 0;
}
.TypograFechaPrecio{
  color: black !important;
}
.pageButtonActive {
  background-color: white !important;
  border-radius: 0px 0px 5px 5px !important;
  width: auto !important;
}
.pageButtonJobCurrentDetalles {
  background-color: white !important;
  border: 1px solid #0069a7 !important;
  border-radius: 0px 0px 0px 5px !important;
  width: auto !important;
}
.pageButtonJobCurrentDetallesActual {
  background-color: white !important;
  border: 1px solid #0069a7 !important;
  border-radius: 0px 0px 5px 5px !important;
  width: auto !important;
}
.pageButtonJobCurrentCancelar {
  background-color:#0069a7 !important;
  border: 1px solid #0069a7 !important; 
  border-radius: 0px 0px 5px 0px !important;
  width: auto !important;
}
.Button{
  font-size: 1.2em !important;
  color: white !important;
}
.ButtonDetalles{
  background-color: white !important;
  color: #0069a7 !important;
  font-size: 1.2em !important;
}
.ButtonCancelar{
  background-color:#0069a7 !important;
  color: white !important;
  font-size: 1.2em !important;
}

@media only screen and (max-width: 600px) {
  .Title{
    font-size: 0.7em !important;
  }
  .Name{
    font-size: 0.8em !important;
  }
  .subServicios{
    font-size: 0.8em !important;
  }
  .ButtonDetalles{
    font-size: 0.9em !important;
    padding: 0 !important;
  }
  .ButtonCancelar{
    font-size: 0.9em !important;
    padding: 0 !important;
  }
  .TipograTotal {
    font-size: 2em !important;
  }
}