.ServiceImage {
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  text-align: center;
  margin-top: 118px;
  text-align: center;
  position: relative;
}

.ServiceContainer {
  padding-top: 180px;
  padding-bottom: 180px;
  height: 400px;
  text-align: center;  
}

.ServiceTitle {
  position: absolute;
  top: 25%;
  left: 40%;
  opacity: 1;
  z-index: 2;
  color: #0069a7 !important;
  font-size: 2rem !important;
}

@media only screen and (max-width: 600px) {
  .ServiceContainer {
    padding-top: 96px;
    padding-bottom: 214px;
    height: 250px;
  }
  .ServiceTitle {
    font-size: 25px !important;
  }
  .ServiceImage {
    height: 180px;
  }
}

@media only screen and (min-width: 720px) {
  .ServiceImage {
    height: 250px;
  }

  .ServiceContainer {
    padding-top: 220px;
    padding-bottom: 200px;
    height: 500px;
  }

  .ServiceTitle {
    font-size: 3rem !important;
  }
}

