.DetailsJob {
  margin-top: 22vh;
}    
.ServiceDate {
  text-align: center;
  padding: 1rem;
}
.ContenUserCliente{
  padding: 1rem;
} 
.TitleDate{
  color: #0069a7 !important;
  text-align: center !important;
  padding: 0.5em !important;
}  
.TitleCaption{
  text-align: center !important;
  padding-bottom: 1em !important;
  font-weight: bold !important;
  font-size: 1em !important;
}  
.Services {
  padding: 20px;
} 
.HeadService{
  padding-top: 0.5em;
}  
.subServicios{
  color: #0069a7 !important;
  font-style: italic;
} 
.AvatarAgent {
  padding: 20px;
  display: flex;
  align-items: center;
} 
.NameAgent {
  flex: 1 1 auto;
}
.Name {
  margin: 0;
  display: block;
  font-size: 1.5em !important;
} 
.AvatarMargin {
  margin-right: 16px;
} 
.Agents {
  display: inline-flex !important;
  margin-right: 16px;
} 
.pageButtonJobCurrentCancelar {
  border: 1px solid #0069a7 !important; 
  border-radius: 0px 0px 5px 0px !important;
  height: 100% !important;
} 
.ButtonCancelar{
  background-color: #0069a7 !important;
  border-radius: 0px 0px 5px 5px !important;
  color: white !important;
  font-size: 1.2em !important;
  width: 100% !important;
  height: 100% !important;
} 
.ButtonContratar{
  border: 1px solid #0069a7 !important;
  border-radius: 5px 5px 5px 5px !important;
  color: #0069a7 !important;
  font-weight: bold !important;
}
.TextRight{
  text-align: right;
}
.AgentPostulate{
  padding-top: 1em;
}